.body {
    padding-top: 2em;
    height: auto;
}

.info {
    text-align: left;
    padding-top: 3em;
}

.fav-btn {
    display: flex;
} 

.sb-container {
    margin: auto;
    width: 40%;
}

.result-row {
    margin:  5%;
}

.ph-chart {
    margin: 35%
}

.toast {
    color: black;
}
