.body {
    padding-top: 2em;
    // background-color: #F7FAF0;
    height: auto;
}

.info {
    text-align: left;
    padding-top: 3em;
}

.fav-btn {
    display: flex;
} 

.sb-container {
    margin: auto;
    width: 40%;
}

.chart {
    margin: 30%;
}
