.legend{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
}

ul {
    list-style-type: none;
    display: inline;
}

li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}