.sb-container {
    width: 100%;
    height: 100%;
    margin: 0;
}

.f-col{
    padding-bottom: 1em;
}

.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sb-wrapper {
    display: flex;
    justify-content: center;
    margin: 0;
}

.sb{
    width: 100%;
}