.search-bar {
    width: 100%;
    border: 1px solid;
    // border-color: gray;
    border-radius: 5px;
    // background-color: white;
    box-shadow: 2px 2px 4px 1px rgba(122,113,122,1);
    display: flex;
    flex-direction: column;
}

.input-buttons {
    display: flex;
    flex-direction: row;
}

input {
    width: 94%;
    border: none;
}

#searchButton {
    width: 5%;
    height: 100%;
    border: none;
}

.search-bar ul {
    list-style-type: none;
    text-align: left;
}

.sb-container {
    width: 100%;
    height: 100%;
    margin: 0;
}

.f-col{
    padding-bottom: 1em;
}

.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sb-wrapper {
    display: flex;
    justify-content: center;
    margin: 0;
}

.sb{
    width: 100%;
}

.search-nav {
    padding-top: 1em;
}


.choice-con{
    width: 100%; 
    padding: 0;
    margin: 0;
    // border-bottom: 1px solid lightgray;
 }
 
 .choice-btn{    
     // color: #115937;
     font-weight: bold;
     border: none;
     // border: 2px solid #115937;
     // background-color: #EDEFF1;
     border-radius: 2px;
     width: 100%;
     padding: 0px;
 }
 
 .f-title{
     padding: 15px;
     // color: #EDEFF1;
     font-weight: bold;
     display: flex;
     justify-content: center;
     // background-color:#133D28;
     border-top-left-radius: 2px;
     border-top-right-radius: 2px;
 }
 
 .f-rad input[type="radio"] {
     display:none
 }
 
 .f-rad input[type="radio"]:checked+label,
 .Checked+label {
     background: #178949;
 }
 
 .f-rad input[type="radio"]:disabled+label,
 .Checked+label {
     background: rgba(111,111,111,0.5);
     color:rgba(15,15,15,0.7);
 }
 
 .f-rad label:hover {
     background: lightgray;
     color:black;
 }
 
 .f-rad label {
     padding: 0;
     cursor: pointer;
     height: 100%;
     width: 100%;
     // background-color:#115937;
     // color: #EDEFF1;
     display:flex;
     justify-content: center;
     align-items: center;
     font-weight: bold;
   }
 
   .f-rad.col {
       padding-left: 0;
       padding-right: 0;
   }
 
 .f-row {
     display:flex;
     justify-content: center;
 }
 
 .op-con{
     border-bottom: 2px #EDEFF1 solid;
 }
 
 .lab-mid{
     border-left: 1px #EDEFF1 solid;
     border-right: 1px #EDEFF1 solid;
 }

 .results {
    width: 100%;
    justify-content: center;
}

.result-container ul {
    list-style-type: none;
    width: 100%;
}

.result-container{
    width: 100%;
}



// Predictions stylings

// prediction container
.prediction-container{
    height: auto;
    overflow: auto;

    p {
        margin: 0;

        margin-top: .2em;
        margin-bottom: .2em;

        padding: 0;
    }
}

// prediction individual item
.predictions-res{
    transition: all 0.4s ease-out;
    opacity: 0;
    margin-top: .5em;
}

// prediction individual item
.predictions-res.show{
    opacity: 1;
}