$themes: (
  light: (
    primary: #fff,
    secondary: #408bbd,
    accent: #408bbd,
    another-name: #61b0e7,
    buttonColor: #fff,
    borderColor:#fff,
  ),
  dark: (
    primary: #333,
    secondary: #333,
    accent: #408bbd,
    buttonTextHoverColor: #ddd,
    buttonColor: #333,
    buttonBorder: #aaa,
  ),
);