@mixin theme($name, $primary, $secondary, $accent, $secondary-accent, $base, $text) {
  $primary: $color;
  $secondary: lighten(adjust-hue($color, 20), 10%);

  .#{$name} {
    .element {
      color: $primary;
    }

    .other-element {
      background: $secondary;
    }
  }
}

$themes: (
  theme-light: white,
  theme-dark: black
) !default;

@each $theme, $color in $themes {
  @include theme($theme, $color);
}