$themes: (
  // https://color.adobe.com/Dark-Color-Scheme---Green-color-theme-10347917
  light: (
    primary: #EDEFF1,
    secondary: #141414,
    accent: #1A7A52,
    accent-dark: #176D49,
    accent-darker: #157A53,
  ),
  dark: (
    primary: #282a36,
    secondary: #f8f8f2,
    accent: #bd93f9,
    accent-dark: darken(#bd93f9, 20%),
    accent-darker: darken(#bd93f9, 40%),
  ),
);
