$themes: (
  // https://color.adobe.com/Dark-Color-Scheme---Green-color-theme-10347917
  light: (
    primary: #EDEFF1,
    secondary: #0B0B0B,
    accent: #178949,
    accent-dark: #115937,
    accent-darker: #133D28,
  ),
  dark: (
    primary: #0B0B0B,
    secondary: #EDEFF1,
    accent: #178949,
    accent-dark: #115937,
    accent-darker: #133D28,
  ),
);