#light {
  background-color: #EDEFF1;
  color: #141414;
  text-decoration-color: #1A7A52;
  outline-color: #1A7A52;
  column-rule-color: #1A7A52;
  text-emphasis-color: #176D49;
  border-color: #157A53;
}
#light *:focus, #light *.active {
  outline: none !important;
  box-shadow: none !important;
  outline-color: #1A7A52 !important;
  border-color: #157A53 !important;
}

body::-webkit-scrollbar-thumb #light {
  background-color: #1A7A52;
}

#light::-webkit-scrollbar-track {
  color: #141414;
  box-shadow: none;
}

#light::-webkit-scrollbar-thumb:hover {
  background: #176D49;
}

#light .primary {
  color: #EDEFF1;
}
#light .primary button:hover {
  color: #d0d6db;
}
#light .primary-background {
  background-color: #EDEFF1;
}
#light .primary::selection {
  background: #EDEFF1;
}
#light .secondary {
  color: #141414;
}
#light .secondary button:hover {
  color: black;
}
#light .secondary-background {
  background-color: #141414;
}
#light .secondary::selection {
  background: #141414;
}
#light .accent {
  color: #1A7A52;
}
#light .accent button:hover {
  color: #115036;
}
#light .accent-background {
  background-color: #1A7A52;
}
#light .accent::selection {
  background: #1A7A52;
}
#light .accent-dark {
  color: #176D49;
}
#light .accent-dark button:hover {
  color: #0e432d;
}
#light .accent-dark-background {
  background-color: #176D49;
}
#light .accent-dark::selection {
  background: #176D49;
}
#light .accent-darker {
  color: #157A53;
}
#light .accent-darker button:hover {
  color: #0e4e35;
}
#light .accent-darker-background {
  background-color: #157A53;
}
#light .accent-darker::selection {
  background: #157A53;
}
#light .accent-border {
  border-color: #157A53 !important;
}

#dark {
  background-color: #282a36;
  color: #f8f8f2;
  text-decoration-color: #bd93f9;
  outline-color: #bd93f9;
  column-rule-color: #bd93f9;
  text-emphasis-color: #8232f4;
  border-color: #510ab6;
}
#dark *:focus, #dark *.active {
  outline: none !important;
  box-shadow: none !important;
  outline-color: #bd93f9 !important;
  border-color: #510ab6 !important;
}

body::-webkit-scrollbar-thumb #dark {
  background-color: #bd93f9 !important;
}

#dark::-webkit-scrollbar-track {
  color: #f8f8f2;
  box-shadow: none;
}

#dark::-webkit-scrollbar-thumb:hover {
  background: #8232f4;
}

#dark .primary {
  color: #282a36;
}
#dark .primary button:hover {
  color: #121319;
}
#dark .primary-background {
  background-color: #282a36;
}
#dark .primary::selection {
  background: #282a36;
}
#dark .secondary {
  color: #f8f8f2;
}
#dark .secondary button:hover {
  color: #e6e6d1;
}
#dark .secondary-background {
  background-color: #f8f8f2;
}
#dark .secondary::selection {
  background: #f8f8f2;
}
#dark .accent {
  color: #bd93f9;
}
#dark .accent button:hover {
  color: #9f63f6;
}
#dark .accent-background {
  background-color: #bd93f9;
}
#dark .accent::selection {
  background: #bd93f9;
}
#dark .accent-dark {
  color: #8232f4;
}
#dark .accent-dark button:hover {
  color: #660de6;
}
#dark .accent-dark-background {
  background-color: #8232f4;
}
#dark .accent-dark::selection {
  background: #8232f4;
}
#dark .accent-darker {
  color: #510ab6;
}
#dark .accent-darker button:hover {
  color: #3b0786;
}
#dark .accent-darker-background {
  background-color: #510ab6;
}
#dark .accent-darker::selection {
  background: #510ab6;
}
#dark .accent-border {
  border-color: #510ab6 !important;
}

/*# sourceMappingURL=themify.css.map */
